body {
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrap {
  align-self: center;
  color: white;
  font-family: 'Inconsolata';
  font-size: 80px;
  max-width: 50%;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

span {
  display: block;
}

.message {
  margin-bottom: 50px;
}

.name {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.location {
  font-size: 40px;
}

.active {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
